:root{
    --orange-color:#DA722C;
    --dark-bule:#023047;
    --dark-color:#070917;
    --light-color:#E8F7FB;
    --light-blue-color:#6F7DFB;
    
}
*,
*::after,
*::before{
    box-sizing: border-box;
}
body{
    margin: 0;
    font-family: "Poppins",sans-serif;
}
/* .btn{
    padding: 16px 32px;
    border-radius: 24px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #E8F7FB;
} */
.dark-btn{
    background: var(--dark-bule);
    padding: 16px 32px;
    border-radius: 24px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}
.light-btn{
    background: var(--orange-color);
    padding: 16px 32px;
    border-radius: 24px;
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
}